.imprimer-container {
  margin: 0 !important;
}

.check {
  position: relative;
  margin: 0;
  /* margin-left: -189px !important;
            margin-top: 189px;
            transform: rotate(270deg); */
}
.check_data {
  position: absolute;
  font-family: "DM Mono";
}
.montant {
  
}
.num_check{
  
  font-weight: 700;
}
.montant_ecrit_line1 {
  transform: translate(-50%);
}
.montant_ecrit_line2 {
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}
.montant_to {
}
.date {
  top: 219px;
  font-size: 14px;
}
.montant_a_fr {
  font-size: 13px;
}
.montant_le {
  font-size: 12px;
}
.montant_a_ar {
  font-size: 14px;
}

.check img {
  display: block;
}

@media print {
  .check {
    /* margin-left: -189px !important;
    margin-top: 189px; */
    transform: rotate(270deg);
    border: none !important;
    page-break-before: always;
  }
  .__check_data {
    display: none;
  }
  .check-inputs-print {
    display: none;
  }
  .check-num-print {
    display: none;
  }
  .check-border {
    display: none;
  }
  .check img {
    display: none;
  }
  .num_check, .num_check_header{
    display: none;
  }
  .non-printable {
    display: none !important;
  }
  .print{
    display: block !important;
  }
}
