.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.no-data-msg {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.warning-text {
  color: orange; 
  font-weight: bold;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fixed-loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.fixed-loader {
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.event-popup {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  font-size: 16px; 
  line-height: 1.6; 
  text-align: center;
}

.event-popup button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(238, 132, 50);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-container {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.event-popup-text{
  text-align: left;
}

body{
  margin: 0 !important;
}
.check{
  position: relative;
  margin: 0;
  /* margin-left: -189px !important;
  margin-top: 189px;
  transform: rotate(270deg); */
}
.check_data{
  position: absolute;
  font-family: 'DM Mono';
}
.montant{
  left: 540px;
  top: 20px;
}
.montant_ecrit_line1{
  left: calc(50% + 30px);
  transform: translate(-50%);
  top: 65px;
}
.montant_ecrit_line2{
  left: calc(50% + 30px);
  top: 90px;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}
.montant_to{
  left: 110px;
  top: 120px;
}
.date{
  top: 219px;
  font-size: 14px;
}
.montant_a_fr{
  left: 230px;
  font-size: 13px;
}
.montant_le{
  left: 315px;
  font-size: 12px;
}
.montant_a_ar{
  left: 420px;
  font-size: 14px;
}

@media print {
  body {
    overflow: hidden;
    
  }
#check{
  page-break-before: always;
}
.print {
    page-break-before: always;  
  }
  .__check_data { display: none; }
  img { display: none; }
  ::-webkit-scrollbar {
    display: none;
  }
}



.custom-button {
  padding: 15px 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: auto;
  margin-left: auto;
  margin-right: 0;
}

.custom-button.primary {
  background-color: #ee8432;
  color: white;
  transition: background-color 0.3s ease;
}

.custom-button.primary:hover {
  background-color: #5795be;
}